<h2>Personal Information</h2>
<p>Name: {{myFullName}}</p>
<p>Age: {{myAge}}</p>

<h2>Account Information</h2>
<p>Username: {{myAccount.username}}</p>
<p>Email: {{myAccount.email}}</p>
<p>Role: {{myAccount.role ? 'Admin' : 'Client'}}</p>

<h2>List Account</h2>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Account</th>
            <th>Name</th>
            <th>Email</th>
            <th>Type Of User</th>
            <th>/</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let account of myListAccount; index as idx">
            <td>{{idx + 1}}</td>
            <td>{{account.taiKhoan}}</td>
            <td>{{account.hoTen}}</td>
            <td>{{account.email}}</td>
            <td>{{account.maLoaiNguoiDung}}</td>
            <td>
                <button class="btn btn-danger" (click)="removeAccount(account.id)">Remove</button>
            </td>
        </tr>
    </tbody>
</table>
