<!-- <h1> Hello {{title}}</h1>
<app-hello></app-hello>
<button></button> -->
<!-- <app-exercise1></app-exercise1> -->
<!-- <app-exercise2></app-exercise2> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-directives></app-directives> -->
<!-- <app-interaction></app-interaction> -->
<!-- <app-material></app-material> -->
<!-- <app-demo-service></app-demo-service> -->

<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  ></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" routerLink="/">Home </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/theater">Theater</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/review">Review</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/forms">Form</a>
      </li>
    </ul>
  </div>
</nav>
<!-- router-outlet: show component match with path -->
<router-outlet></router-outlet>
