<div class="container mt-4">
  <form class="mx-5" [formGroup]="myForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label>Email address</label>
      <input type="email" class="form-control" formControlName="email" />
      <div
        *ngIf="
          myForm.get('email')?.errors &&
          (myForm.get('email')?.touched || myForm.get('email')?.dirty)
        "
        class="alert alert-danger mt-3"
      >
        <div *ngIf="myForm.get('email')?.errors?.required">
          Please enter your email!
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
